@charset "UTF-8";
@font-face {
  font-family: 'nimbus-sans-l';
  src: url("/fonts/NimbusSanL-Reg.otf") format("opentype");
}

:root {
  font-family: system-ui, "Helvetica Neue", Helvetica, nimbus-sans-l, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  flex: auto;
  text-align: center;
}

/* Custom <hr> tag */
hr {
  border: none;
  color: #000;
  margin: 2em;
}
hr::before {
  display: block;
  text-align: center;
  content: "\2726";
}

/* For <p> spacing */
p {
  margin-bottom: 1em;
}

/* For title logo */
.main-logo {
  padding-top: 1em;
}

div {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #8ebefd;
  text-decoration: inherit;
}
a:hover {
  color: #8ebefd;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
