@charset "UTF-8";
:root {
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 450;
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  border: none transparent;
}

body {
  justify-content: center;
  margin-top: 7rem;
}

hr {
  border: none;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
hr:before {
  display: block;
  text-align: center;
  content: "✦";
}

.container {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  background-color: white;
}

.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.intro {
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  width: 60vw;
  padding: 1rem;
}

.navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(92, 98, 98, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
}
.navbar .nav-left, .navbar .nav-center, .navbar .nav-right {
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .nav-left a, .navbar .nav-left button, .navbar .nav-center a, .navbar .nav-center button, .navbar .nav-right a, .navbar .nav-right button {
  display: block;
  background: none;
  border: none;
  color: #454545;
  min-width: 40px;
  margin: 0.25rem;
  text-decoration: none;
  object-fit: scale-down;
}
.navbar .nav-left a img, .navbar .nav-left button img, .navbar .nav-center a img, .navbar .nav-center button img, .navbar .nav-right a img, .navbar .nav-right button img {
  max-height: 48px;
  max-width: auto;
}
.navbar .dropdown {
  z-index: 4;
  display: block;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid rgba(92, 98, 98, 0.5019607843);
  border-bottom: 1px solid rgba(92, 98, 98, 0.5019607843);
  background-color: white;
  top: 3.25rem;
  left: 0;
  height: 100vh;
  max-width: 10rem;
  transition: max-width 0.25s ease-in;
}
.navbar .dropdown h1 {
  font-size: medium;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.navbar .dropdown li {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
  height: 1.25rem;
  font-size: 14px;
}
.navbar .dropdown li .index {
  min-width: 1rem;
}
.navbar .dropdown .hr-normal {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.navbar .hidden {
  max-width: 0;
}

:root {
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 450;
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  text-align: center;
}

/* Container for everything */
.container {
  display: flex;
  gap: 2rem;
}

/* Container for the contents of the chapter */
.chapter {
  margin: 0 auto;
  text-align: left;
  padding: 0.5rem;
  background-color: #ffffff;
  width: 40rem;
  min-width: 32rem;
  max-width: 75vw;
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  border-radius: 0;
  padding: 1in;
}

/* The dropdown for the list of all chapters */
.page-list {
  z-index: 1;
  position: sticky;
  display: block;
  text-align: left;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  width: 20vw;
  height: 80vh;
  top: 7.5vh;
}
.page-list .list-header {
  display: block;
}
.page-list .list-header h1 {
  text-align: center;
  color: #000;
  font-size: 1.25rem;
  margin-top: 0;
}
.page-list div {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.page-list div .index {
  min-width: 1rem;
}
.page-list div a {
  color: #474652;
  display: block;
  transition: 0.1s ease-in-out;
}
.page-list div a:hover {
  color: #3379d4;
  text-decoration: underline;
}
.page-list div h2 {
  font-size: medium;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0;
}

/* Pagination, for linking to previous/next pages */
.pagination-bar {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2a33;
  color: #fff;
  height: 101%;
  width: 3rem;
  right: -1.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pagination-bar .prev-page {
  position: relative;
}
.pagination-bar .prev-page:hover {
  text-decoration: none;
}
.pagination-bar .next-page {
  position: relative;
}
.pagination-bar .next-page:hover {
  text-decoration: none;
}
.pagination-bar .list-chapters {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  text-align: center;
}
.pagination-bar .list-chapters:hover {
  text-decoration: none;
}
.pagination-bar .info {
  position: absolute;
  margin-bottom: 1rem;
  bottom: 0;
}

/* For the headings (title, series, etc.) */
.header-info {
  text-align: center;
  margin: 0;
}

.heading-series {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.heading-title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/* Adjusting main-logo */
.main-logo {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Custom <hr> tag */
hr {
  border: none;
  color: #000;
  margin: 2em;
}
hr:before {
  display: block;
  text-align: center;
  content: "✦";
}

/* Base Customization for <a> and <button> */
a, button {
  border: 0;
  background: none;
  font-weight: 500;
  color: #71afff;
  text-decoration: inherit;
  transition: color 0.1s ease-in-out;
}
a:hover, button:hover {
  color: #3379d4;
  cursor: pointer;
}

.published {
  font-weight: 300;
  font-size: 0.875rem;
}

/* Normal horizontal line */
.hr-normal {
  margin-left: 0;
  margin-right: 0;
  border: 0.05rem solid rgba(92, 98, 98, 0.5019607843);
}
.hr-normal:before {
  content: "";
}

/* Denotes the very beginning <hr> of the chapter */
.chapter-start {
  border: none;
  color: #000;
  margin: 2em;
}
.chapter-start:before {
  font-weight: bold;
  display: block;
  text-align: center;
  content: "✦ START ✦";
}

/* Denotes the very end <hr> of the chapter */
.chapter-end {
  border: none;
  color: #000;
  margin: 2em;
}
.chapter-end:before {
  font-weight: bold;
  display: block;
  text-align: center;
  content: "✦ END ✦";
}

/* hidden class */
.hidden {
  display: none;
}

.centered {
  text-align: center;
}

p {
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}

/*# sourceMappingURL=chapter.css.map */
