@charset "UTF-8";
:root {
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 450;
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  border: none transparent;
}

body {
  justify-content: center;
  margin-top: 7rem;
}

.main-logo {
  margin-top: 1em;
}

hr {
  border: none;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
hr:before {
  display: block;
  text-align: center;
  content: "✦";
}

.container {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  background-color: white;
}

.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.intro {
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  width: 60vw;
  padding: 1rem;
}

.navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(92, 98, 98, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
}
.navbar .nav-left, .navbar .nav-center, .navbar .nav-right {
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .nav-left a, .navbar .nav-left button, .navbar .nav-center a, .navbar .nav-center button, .navbar .nav-right a, .navbar .nav-right button {
  display: block;
  background: none;
  border: none;
  color: #454545;
  min-width: 40px;
  margin: 0.25rem;
  text-decoration: none;
  object-fit: scale-down;
}
.navbar .nav-left a img, .navbar .nav-left button img, .navbar .nav-center a img, .navbar .nav-center button img, .navbar .nav-right a img, .navbar .nav-right button img {
  max-height: 48px;
  max-width: auto;
}
.navbar .dropdown {
  z-index: 4;
  display: block;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid rgba(92, 98, 98, 0.5019607843);
  border-bottom: 1px solid rgba(92, 98, 98, 0.5019607843);
  background-color: white;
  top: 3.25rem;
  left: 0;
  height: 100vh;
  max-width: 10rem;
  transition: max-width 0.25s ease-in;
}
.navbar .dropdown h1 {
  font-size: medium;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.navbar .dropdown li {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
  height: 1.25rem;
  font-size: 14px;
}
.navbar .dropdown li .index {
  min-width: 1rem;
}
.navbar .dropdown .hr-normal {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.navbar .hidden {
  max-width: 0;
}

html {
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.content * {
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 80%;
  margin: 0 auto;
}
.cards .card {
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  border-radius: 8px;
  background-color: white;
  margin: 1rem;
  height: 24rem;
  width: 20rem;
  transition: all 0.15s ease;
}
.cards .card:hover {
  border-color: rgba(52, 143, 221, 0.5019607843);
  background-color: #fbfbfb;
  transform: scale(1.035);
  cursor: pointer;
}
.cards .card h1 {
  font-size: medium;
  font-weight: bold;
}

.intro {
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  width: 60vw;
  padding: 1rem;
}

.about {
  border: 1px solid rgba(92, 98, 98, 0.5019607843);
  width: 60vw;
  padding: 1rem;
}
.about h1 {
  font-size: x-large;
  font-weight: bold;
}

.pink {
  color: #ff759a;
}

.blue {
  color: #67b5ff;
}

/*# sourceMappingURL=main.css.map */
