@use 'base';

$fiore-pink: #ff759a;
$fiore-blue: #67b5ff;

// body
:root {
  background-image: url('/static/images/amefioreboba.png');
  background-size: cover;
}

body {
  background-image: url('/static/images/amefioreboba.png');
  background-size: cover;
}

// container
.container {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #5c626280;
  background-color: white;
}

// for everything
.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

// intro
.intro {
  border: 1px solid #5c626280;
  width: 60vw;
  padding: 1rem;
}

// colors
.pink {
  color: $fiore-pink;
}
.blue {
  color: $fiore-blue;
}
