<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "title" . }}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="favicon.png">
  {{ partial "title.html" .}}
</head>
<body>
  {{ partial "navbar" .}}
  <div class="container">
    <div class="main-logo">
      {{ partial "logo.html" }}
    </div>
    <div class="content">
      <div class="intro">
        {{ with .GetPage "intro.md"}}
          {{ .Content }}
        {{ end }}
      </div>
    </div>
    <h1>Salt's Diaries</h1>
    <div class="cards">
      {{ range .Site.Sections.ByWeight.Reverse }}
        <button class="card">
          <div>
            {{ .Content }}
          </div>
        </button>
      {{ end }}
    </div>
    <div class="content">
      <div class="about">
        {{ with .GetPage "about.md" }}
          {{ .Content }}
        {{ end }}
      </div>
      <div>
        {{ with .Site.Taxonomies.volumes }}
          {{ range .Page }}
            <p> {{ .Title }}</p>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</body>
<div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</div>
</html>
