{{ $scss := resources.Get "scss/main.scss" }}
{{ $options := (dict "targetPath" "css/main.css" "enableSourceMap" true) }}
{{ $style := $scss | toCSS $options }}

<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "title" . }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="icon" href="favicon.png">
  {{ partial "title.html" .}}
</head>
<body>
  {{ partial "navbar" .}}
  <div>
    <div class="main-logo">
      {{ partial "logo.html" }}
    </div>
    <div class="content">
      <div class="intro">
        {{ with .GetPage "intro.md"}}
          {{ .Content }}
        {{ end }}
      </div>
    </div>
  </div>
</body>
<div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</div>
</html>
