<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta property="og:title" content="nekofiore" />
  <meta property="og:description" content="The landing page of nekofiore" />
  <meta property="og:image" content="/favicon.png" />
  <meta property="og:url" content="https://nekofiore.net" />

  {{ partial "title" . }}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/favicon.png">
  {{ partial "title.html" .}}
</head>
<body>
  {{ partial "navbar" .}}
  <div class="container">
    <div>
      {{ partial "logo.html" }}
    </div>
    <div class="content">
      <div class="intro">
        {{ with .GetPage "intro.md"}}
          {{ .Content }}
        {{ end }}
      </div>
    </div>
    <h1>Salt's Diaries</h1>
    <div class="cards">
      {{ range .Site.Sections.ByWeight.Reverse }}
        {{ $link := .RelPermalink }}
        {{ $bg := .Resources.Get "card-bg.png"}}
        {{ if $bg }}
        <a class="card" href="{{ $link }}" style="background: url('{{ $bg.RelPermalink }}') center / cover;">
        {{ else }}
        <a class="card" href="{{ $link }}">
        {{ end }}
          <div>
            {{ .Content }}
          </div>
        </a>
      {{ end }}
    </div>
    <div class="content">
      <div class="about">
        {{ with .GetPage "about.md" }}
          {{ .Content }}
        {{ end }}
      </div>
      <div>
        {{ with .Site.Taxonomies.volumes }}
          {{ range .Page }}
            <p> {{ .Title }}</p>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</body>
<div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</div>
</html>
