@use 'base';

$fiore-pink: #ff759a;
$fiore-blue: #67b5ff;
$default-border: 1px solid #5c626280;

// bg
html {
  background: url('/images/fiore_guitar.png') center / cover no-repeat scroll;
}

// container
.container {
  margin: 0 auto;
  padding: 1rem;
  border: $default-border;
  background-color: white;
}

// for everything
.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  * {
    background-color: white;
  }
}

// intro
.intro {
  border: 1px solid #5c626280;
  width: 60vw;
  padding: 1rem;
}

// colors
.pink {
  color: $fiore-pink;
}
.blue {
  color: $fiore-blue;
}
