@use 'base';
@use 'variables';

// bg
html {
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// container
.container {
  margin: 0 auto;
  padding: 1rem;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  h1 {
    margin: 0 auto;
  }
}

// for everything
.content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  * {
    background-color: white;
  }
}

// for cards
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 80%;
  margin: 0 auto;
  .card {
    overflow: hidden;
    display: block;
    align-items: center;
    border: variables.$default-border;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    margin: 1rem;
    aspect-ratio: 5/6;
    width: 15rem;
    height: auto;
    transition: all 0.15s ease;
    &:hover {
      border-color: #70baea;
      transform: scale(1.05);
      cursor: pointer;
    }
    div {
      display: block;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.825);
      border: variables.$default-border;
      border-radius: 4px;
      margin: 5%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      transition: all 0.15s ease;
      * {
        color: black;
        text-decoration: none;
      }
      h1 {
        font-size: medium;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

// intro
.intro {
  border: 1px solid #5c626280;
  width: 60vw;
  padding: 1rem;
}

// about
.about {
  border: 1px solid #5c626280;
  width: 60vw;
  padding: 1rem;
  h1 {
    font-size: x-large;
    font-weight: bold;
  }
}

// colors
.pink {
  color: variables.$fiore-pink;
}
.blue {
  color: variables.$fiore-blue;
}
